<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.tving.mapper.UserMapper">

    <insert id="register">
        INSERT INTO `user_tbl` (`id`, `password`, `nickName`, `email`)
        VALUES (#{id}, #{password}, #{id}, #{email})
    </insert>

    <select id="find_user" resultType="com.koreait.tving.vos.UserVO">
        select * from `user_tbl`
        WHERE `id` = #{id}
    </select>

    <update id="update_user">
        update `user_tbl` SET `tel` = #{tel}, `email` = #{email}
        WHERE `id` = #{id}
    </update>

    <!-- -->
    <update id="modify_membership">
        UPDATE `user_tbl` SET `role` = #{role} WHERE `id` = #{id}
    </update>

    <!-- 해당 유저가 시청한 하나의 프로그램의 회차 정보를 가져옴 -->
    <select id="get_watch_program_order" resultType="com.koreait.tving.vos.WatchVO">
        SELECT * FROM `watch_tbl`
        WHERE userID = #{id} AND programName = #{name}
        ORDER BY `watchOrder` DESC LIMIT 1
    </select>

    <!-- 해당 유저가 시청한 시청내역을 날짜 내림차순 전부 가져옴 -->
    <select id="get_all_watch_program_list" resultType="com.koreait.tving.vos.WatchVO">
        SELECT w.*, c.`title` FROM `watch_tbl` w
        INNER JOIN `contents_tbl` c
        ON w.`programName` = c.`name`
        AND w.`watchOrder` = c.`order`
        WHERE w.`userID` = #{id}
        ORDER BY `watchDate` DESC
    </select>


</mapper>