<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.tving.mapper.UserMapper">

    <insert id="register">
        INSERT INTO `user_tbl` (`id`, `password`, `nickName`, `email`)
        VALUES (#{id}, #{password}, #{id}, #{email})
    </insert>

</mapper>