<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" th:href="@{/css/user-info.css}" href="../../static/css/user-info.css">
<body>
<div class="top-logo">
  <img th:src="@{/image/logo-tving.svg}" src="../../static/image/logo-tving.svg" alt="">
</div>

<div class="user-info-text">
  <p>회원정보 수정</p>
</div>

<form action="">
  <div class="user-profile-container">
    
    <div class="user-id-wrap">
      <span>아이디</span>
      <div><img th:src="@{image/naver-login-icon.svg}" src="../../static/image/naver-login-icon.svg" alt=""><span>guswns8780@naver.com</span></div>
    </div>
    
    <div class="user-name-wrap">
      <span>이름</span>
      <div>이현준</div>
    </div>
    
    <div class="user-email-wrap">
      <span>이메일</span>
      <div class="email-value">
        <input type="text"><span>@</span><input type="text">
        <select>
          <option value="직접입력">직접입력</option>
          <option value="naver.com">naver.com</option>
          <option value="google.com">google.com</option>
          <option value="kakao.com">kakao.com</option>
        </select>
      </div>
    </div>

    <div class="user-phone-number">
      <span>휴대폰 번호</span>
      <select>
        <option value="010">010</option> <option value="011">011</option> <option value="016">016</option>
        <option value="017">017</option> <option value="018">018</option> <option value="019">019</option>
      </select>
      <span>-</span>
      <input type="text">
      <span>-</span>
      <input type="text">
      <button>인증번호 전송</button>
    </div>
  </div>

  <div class="user-delete-btn">
    <button>회원탈퇴</button>
  </div>

  <div class="submit-btn-wrap">
    <button type="submit">확인</button>
    <button type="button">취소</button>
  </div>
</form>



</body>
</html>