<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
</style>
<script th:src="@{https://kit.fontawesome.com/4ae8b5f015.js}" src="https://kit.fontawesome.com/4ae8b5f015.js" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/mypage.css}" href="../../static/css/mypage.css">
<link rel="stylesheet" th:href="@{/css/top-navi.css}" href="../../static/css/top-navi.css">
<script src="https://kit.fontawesome.com/4ae8b5f015.js" crossorigin="anonymous"></script>
<script th:src="@{/js/top-navi.js}" src="../../static/js/top-navi.js" defer></script>
<script th:src="@{/js/mypage.js}" src="../static/js/mypage.js" defer></script>
<body>
<div id="top-navi">
  <div id="top-navi-left">
    <div class="navi-btns"><img class="main-logo" th:src="@{/image/tving-new-logo-mobile.svg}" src="../../static/image/tving-new-logo-mobile.svg" alt=""></div>
    <div class="live-btn navi-btns"><img th:src="@{/image/icon_menu_live.svg}" src="../../static/image/icon_menu_live.svg" alt="">실시간</div>
    <div class="tv-program navi-btns">TV프로그램</div>
    <div class="movie navi-btns">영화</div>
    <div class="paramount navi-btns"><img th:src="@{/image/menu_paramount.svg}" src="../../static/image/menu_paramount.svg" alt=""></div>
  </div>
  <div id="top-navi-right">
    <div class="serach navi-btns"><img th:src="@{/image/icon_search.svg}" src="../../static/image/icon_search.svg" alt=""> </div>
    <div class="user-icon navi-btns">
      <a th:href="@{/user/mypage}">
        <img id="user-mypage-icon" th:src="@{/image/F_webp.100.webp}" src="../../static/image/F_webp.100.webp" alt="">
      </a>

      <div id="mypage-container" class="user-mypage-more-container" hidden>
        <div class="user-mypage-1">
          <a th:href="@{/user/mypage}">
            <img th:src="@{/image/F_webp.100.webp}" src="../../static/image/F_webp.100.webp" alt="">
          </a>
          <div class="user-profile-change">
            <span th:text="${#authentication.principal.nickName}">이현</span>
            <button>프로필 전환 <i class="fa-solid fa-angle-right"></i></button>
          </div>
        </div>
        <ul class="user-mypage-2">
          <li>
            <button>MY</button>
          </li>
          <li>
            <a th:href="@{/user/membership}">
              <button>이용권</button>
            </a>
          </li>
          <li>
            <button>쿠폰등록</button>
          </li>
          <li>
            <button>고객센터</button>
          </li>
          <li>
            <a th:href="@{/logout}">
              <button>로그아웃</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="my-info-container">
  <div class="my-info-icon"><img th:src="@{/image/F_webp.100.webp}" src="../../static/image/F_webp.100.webp" alt=""></div>
  <div class="my-info-wrap">
    <div class="my-info-info">
      <div class="my-info-name">
        <span>이현준</span>
        <i class="fa-solid fa-pen"></i>
        <button>프로필 전환</button>
      </div>
    </div>
    <div class="my-info-coupon">
      <span class="fa-solid fa-ticket"></span>
      <span>나의 이용권</span>
      <span th:text="${roleMessage}">방송 무제한 (네이버플러스 멤버십) 정기권</span>
      <button>네이버플러스 멤버십 변경</button>
      <i class="fa-regular fa-copyright"></i>
      <span>티빙캐시</span>
      <span> 0 </span>
    </div>
  </div>
  <div class="setting-btns">
    <div class="setting-position">
      <a th:href="@{/user/info}" href="/user/info">
        <i class="fa-solid fa-gear"></i><button>회원정보 수정</button>
      </a>
      <i class="fa-solid fa-circle-info"></i><button>기기등록/관리</button>
    </div>
  </div>
</div>
<div class="banner-place"><img th:src="@{/image/banner.webp}" src="../../static/image/banner.webp" alt=""><i class="fa-solid fa-x"></i></div>
<div class="history-container">
  <div class="my-historys">
    <button class="view-history-btn">시청 내역</button>
    <button>구매 내역</button>
    <button> 찜 </button>
    <button>예약 내역</button>
    <button>이용권/캐시 내역</button>
    <button>문의 내역</button>
  </div>
  <div class="view-history-list">
    <div class="view-history-category">
      <button>TV프로그램</button><button>영화</button>
    </div>
    <div id="view-history-TV">

      <div class="view-history-content">
        <img th:src="@{/image/TVprogram1.webp}" src="../../static/image/TVprogram1.webp" alt="">
        <div class="history-TV-title">재벌집 막내아들 11화</div>
        <div class="history-TV-date">2022.12.12 시청</div>
      </div>

    </div>
  </div>
</div>
</body>
</html>
