<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" th:href="@{/css/register.css}" href="../../static/css/register.css">
<script th:src="@{/js/register.js}" src="../../static/js/register.js" defer></script>
<body>
<div class="top-logo"><img src="../../static/image/tving-new-logo-mobile.svg" alt=""></div>
<div class="register-container">
  <div><span>티빙 회원가입</span></div>
  <div><span>아이디와 이메일로 간편하게 티빙을 시작하세요!</span></div>
  <form action="/user/register" method="post" th:action="@{/user/register}" th:method="post">
    <input id="user-register-id" class="user-register-input" type="text" placeholder="아이디" name="id">
    <div class="warning-tag"><span>영문 또는 영문, 숫자 조합 6~12 자리</span></div>
    <input id="user-register-pw" class="user-register-input" type="text" placeholder="비밀번호" name="password">
    <div class="warning-tag"><span>영문, 숫자, 특수문자(~!@#$%^&*) 조합 8~15 자리</span></div>
    <input id="user-register-pw-check" class="user-register-input" type="text" placeholder="비밀번호 확인">
    <div class="warning-tag" hidden><span>입력한 내용이 없어요/ 일치하지 않습니다. 다시 입력해주세요.</span></div>
    <input id="user-register-email" class="user-register-input" type="text" placeholder="이메일" name="email">
    <div class="warning-tag" hidden><span>입력한 내용이 없어요/ 올바른 이메일 형식이 아닙니다</span></div>
    <button id="submit-button" type="submit">가입하기</button>
  </form>
</div>
</body>
</html>