html{
    background-color: black;
    color: #fff;
}
body > img:nth-child(1){
    padding: 20px;
}
.login-form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}
.login-form-wrap > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-text {
    letter-spacing: -2px;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 40px;
}
input[type = text]{
    background-color: #212121;
    box-sizing: border-box;
    border: none;
    width: 34vw;
    height: 80px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 24px;
    color: white
}
input[type = text]::placeholder{
    color: rgba(0,0,0,0.5);
    font-size: 26px;
}
.auto-login-wrap{
    margin-right: auto;
    padding-top: 15px;
    font-size: 20px;
    color: #6e6e6e;
    cursor: pointer;
    font-weight: bold;
}
.auto-login{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.submit-btn{
    margin-top: 40px;
    width: 34vw;
    height: 70px;
    font-size: 22px;
    font-weight: bold;
    background-color: #ff153c;
    border-color: #ff153c;;
    color: white;
}

.find-id-or-pw{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: #6e6e6e;
    font-weight: bold;
    letter-spacing: normal;
}

.login-error-message{
    width: 100%;
    text-align: left;
    color: red;
}

.find-id{
    padding-right: 25px;
    border-right: 1px solid rgba(255,255,255,0.3);
}
.find-pw{
    margin-left: 20px;
}
.tving-register-div{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #3e3e3e;
}
.tving-register-div > a{
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #6e6e6e;
}