body{
    background-color: black;
    color: white;
}
.homeBtn{
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-decoration: none;
    background-image: url("/static/image/tving-new-logo-mobile.svg");
    cursor: pointer;
}
.text-wrap{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    top: 150px;
    left: 730px;
}
.top-nav{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
            to bottom,
            rgba(0,0,0,0) 10%,
            rgba(0,0,0,0.5) 25%,
            rgba(0,0,0,1) 40%,
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,1) 80%,
            rgba(0,0,0,1) 50%
    ),
    url("../image/background.jpg");
}

button{
    background-color: rgba(0,0,0,0.4);
    color: lightgray;
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    width: 600px;
    height: 70px;
}
.tving-login-btn{
    position: absolute;
    top: 300px;
    left: 600px;
    cursor: pointer;
}
.naver-login-btn{
    position: absolute;
    top: 400px;
    left: 600px;
    cursor: pointer;
}
.kakao-login-btn{
    position: absolute;
    top: 500px;
    left: 600px;
    cursor: pointer;
}
.tving-login-icon{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 320px;
    left: 620px;
}
.naver-login-icon{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 420px;
    left: 620px;
}
.kakao-login-icon{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 520px;
    left: 620px;
}
.idpw{
    position: absolute;
    top: 630px;
    left: 760px;
    cursor: pointer;
}