body{
    overflow-x: hidden;
}

.tving-contents{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: white;
}

.contents-list{
    display: flex;
    flex-direction: column;
}

.tving-contents > a > .contents-list> img {
    width: 240px;
    margin-right: 10px;
    border-radius: 0.1em;
}

.contents-list > span {
    font-size: 20px;
}


.main-top{
    width: 100vw;
    height: 850px;
    background-image: url("../image/F_webp,1920.webp");
}
.contents-container{
    margin: 0 2%;
    position: absolute;
    top: 830px;
}
.contents-container > div {
    font-size: 30px;
    font-weight: bold;
}
.details-look{
    position: absolute;
    top: 600px;
    left: 1600px;
    width: 200px;
    height: 65px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    border: 0.1em solid rgba(255,255,255,0.9);
    border-radius: 0.4em;
    background-color: hsla(0, 14%, 72%, 0.7);
}
.content-info-text{
    position: absolute;
    top: 480px;
    left: 70px;
    font-size: 50px;
    font-weight: bold;
}
.content-info-text2{
    position: absolute;
    top: 620px;
    left: 70px;
    font-size: 22px;
    font-weight: bold;
    color: #eeeeee;
}


