<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css">
</head>
<body>
<div class="top-nav"></div>
<img class="homeBtn" th:src="@{image/tving-new-logo-mobile.svg}" src="../static/image/tving-new-logo-mobile.svg" alt="">
<div class="text-wrap">
    <span>반가워요</span><br/>
    <span>계정을 선택해주세요.</span>
</div>
<a href="/user/login" th:href="@{/user/login}">
    <button type="button" class="tving-login-btn">티빙으로 로그인하기</button>
</a>
<button type="button" class="naver-login-btn">네이버로 로그인하기</button>
<a th:href="@{/oauth2/authorization/kakao}" href="/oauth2/authorization/kakao">
<button type="button" class="kakao-login-btn">카카오로 로그인하기</button>
</a>
<img class="tving-login-icon"  th:src="@{image/tving-login-icon.svg}" src="../static/image/tving-login-icon.svg" alt="">
<img class="naver-login-icon" th:src="@{image/naver-login-icon.svg}" src="../static/image/naver-login-icon.svg" alt="">
<img class="kakao-login-icon" th:src="@{image/kakao-login-icon.svg}" src="../static/image/kakao-login-icon.svg" alt="">
<span class="idpw">아이디를 잊으셨나요? <b>아이디 찾기</b></span>
</body>
</html>