<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
<link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.15.4/css/all.css}" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/css/top-navi.css}" href="../static/css/top-navi.css">
<script src="https://kit.fontawesome.com/4ae8b5f015.js" crossorigin="anonymous"></script>
<script th:src="@{/js/top-navi.js}" src="../static/js/top-navi.js" defer></script>
<body>
<div class="main-top background">
  <div id="top-navi">
    <div id="top-navi-left">
      <div class="navi-btns"><img class="main-logo" th:src="@{image/tving-new-logo-mobile.svg}" src="../static/image/tving-new-logo-mobile.svg" alt=""></div>
      <div class="live-btn navi-btns"><img th:src="@{image/icon_menu_live.svg}" src="../static/image/icon_menu_live.svg" alt="">실시간</div>
      <div class="tv-program navi-btns">TV프로그램</div>
      <div class="movie navi-btns">영화</div>
      <div class="paramount navi-btns"><img th:src="@{/image/menu_paramount.svg}" src="../static/image/menu_paramount.svg" alt=""></div>
    </div>
    <div id="top-navi-right">
      <div class="serach navi-btns"><img th:src="@{image/icon_search.svg}" src="../static/image/icon_search.svg" alt=""> </div>
      <div class="user-icon navi-btns">
        <a th:href="@{/user/mypage}" href="/user/info">
          <img id="user-mypage-icon" th:src="@{image/F_webp.100.webp}" src="../static/image/F_webp.100.webp" alt="">
        </a>
        <div id="mypage-container" class="user-mypage-more-container" hidden>
          <div class="user-mypage-1">
              <a th:href="@{/user/mypage}">
                  <img th:src="@{image/F_webp.100.webp}" src="../static/image/F_webp.100.webp" alt="">
              </a>
            <div class="user-profile-change">
              <span>이현준</span>
              <button>프로필 전환 <i class="fa-solid fa-angle-right"></i></button>
            </div>
          </div>
          <ul class="user-mypage-2">
            <li>
              <a th:href="@{/user/mypage}" href="/user/info">
                <button>MY</button>
              </a>
            </li>
            <li>
                <a th:href="@{/user/membership}">
                    <button>이용권</button>
                </a>
            </li>
            <li>
              <button>쿠폰등록</button>
            </li>
            <li>
              <button>고객센터</button>
            </li>
            <li>
                <a th:href="@{/logout}">
                    <button>로그아웃</button>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content-info-text">지금 공개예정작을<br/><span>먼저 확인하세요</span></div>
  <div class="content-info-text2"><span>&lt;스킵&gt;,&lt;캐나다 체크인&gt;등</span></div>
  <button class="details-look">자세히보기</button>
</div>
<div class="contents-container">
    <div>티빙에서 꼭 봐야하는 콘텐츠</div>
    <div class="tving-contents">

<!--      <a th:href="@{/main/program/{title}(title=${titles})}"  th:each="title: ${titles}">-->
<!--        <div class="contents-list" >-->
<!--          <img th:src="@{image/{title}/poster.webp(title=${title})}" alt="">-->
<!--          <span>[[${title}]]</span>-->
<!--        </div>-->
<!--      </a>-->

      <a th:href="@{/main/program/{title}(title=${titles[0]})}">
        <div class="contents-list">
          <img th:src="@{image/{title}/poster.webp(title=${titles[0]})}" src="../static/image/담보/poster.webp" alt="">
          <span>[[${titles[0]}]]</span>
        </div>
      </a>

      <a th:href="@{/main/program/{title}(title=${titles[1]})}">
        <div class="contents-list">
          <img th:src="@{image/{title}/poster.webp(title=${titles[1]})}" src="../static/image/담보/poster.webp" alt="">
          <span>[[${titles[1]}]]</span>
        </div>
      </a>

      <a th:href="@{/main/program/{title}(title=${titles[2]})}">
        <div class="contents-list">
          <img th:src="@{image/{title}/poster.webp(title=${titles[2]})}" src="../static/image/짱구는못말려/poster.webp" alt="">
          <span>[[${titles[2]}]]</span>
        </div>
      </a>

      <a th:href="@{/main/program/{title}(title=${titles[3]})}">
        <div class="contents-list">
          <img th:src="@{image/{title}/poster.webp(title=${titles[3]})}" src="../static/image/재벌집막내아들/poster.webp" alt="">
          <span>[[${titles[3]}]]</span>
        </div>
      </a>

      <a th:href="@{/main/program/{title}(title=${titles[4]})}">
        <div class="contents-list">
          <img th:src="@{image/{title}/poster.webp(title=${titles[4]})}" src="../static/image/캅시크릿/poster.webp" alt="">
          <span>[[${titles[4]}]]</span>
        </div>
      </a>

      <a th:href="@{/main/program/{title}(title=${titles[5]})}">
        <div class="contents-list">
          <img th:src="@{image/{title}/poster.webp(title=${titles[5]})}" src="../static/image/나를찾아줘/poster.webp" alt="">
          <span>[[${titles[5]}]]</span>
        </div>
      </a>

      <a th:href="@{/main/program/{title}(title=${titles[6]})}">
        <div class="contents-list">
          <img th:src="@{image/{title}/poster.webp(title=${titles[6]})}" src="../static/image/헤어질결심/poster.webp" alt="">
          <span>[[${titles[6]}]]</span>
        </div>
      </a>

      <a th:href="@{/main/program/{title}(title=${titles[7]})}">
        <div class="contents-list">
          <img th:src="@{image/{title}/poster.webp(title=${titles[7]})}" src="../static/image/허리케인쓰나미/poster.webp" alt="">
          <span>[[${titles[7]}]]</span>
        </div>
      </a>

    </div>
  </div>

</body>
</html>