<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
<link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.15.4/css/all.css}" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
<script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
<body>
<div class="main-top background">
  <div id="top-navi">
    <div id="top-navi-left">
      <div class="navi-btns"><img class="main-logo" th:src="@{image/tving-new-logo-mobile.svg}" src="../static/image/tving-new-logo-mobile.svg" alt=""></div>
      <div class="live-btn navi-btns"><img th:src="@{image/icon_menu_live.svg}" src="../static/image/icon_menu_live.svg" alt="">실시간</div>
      <div class="tv-program navi-btns">TV프로그램</div>
      <div class="movie navi-btns">영화</div>
      <div class="paramount navi-btns"><img th:src="@{/image/menu_paramount.svg}" src="../static/image/menu_paramount.svg" alt=""></div>
    </div>
    <div id="top-navi-right">
      <div class="serach navi-btns"><img th:src="@{image/icon_search.svg}" src="../static/image/icon_search.svg" alt=""> </div>
      <div class="user-icon navi-btns"><img th:src="@{image/F_webp.100.webp}" src="../static/image/F_webp.100.webp" alt=""></div>
    </div>
  </div>
  <div class="content-info-text">지금 공개예정작을<br/><span>먼저 확인하세요</span></div>
  <div class="content-info-text2"><span>&lt;스킵&gt;,&lt;캐나다 체크인&gt;등</span></div>
  <button class="details-look">자세히보기</button>
</div>
<div class="contents-container">
    <div>티빙에서 꼭 봐야하는 콘텐츠</div>
    <div class="tving-contents">
      <img th:src="@{image/movie1.webp}" src="../static/image/movie1.webp" alt="">
      <img th:src="@{image/movie2.webp}" src="../static/image/movie2.webp" alt="">
      <img th:src="@{image/movie3.webp}" src="../static/image/movie3.webp" alt="">
      <img th:src="@{image/movie4.webp}" src="../static/image/movie4.webp" alt="">
      <img th:src="@{image/movie5.webp}" src="../static/image/movie5.webp" alt="">
      <img th:src="@{image/movie6.webp}" src="../static/image/movie6.webp" alt="">
      <img th:src="@{image/movie7.webp}" src="../static/image/movie7.webp" alt="">
      <img th:src="@{image/movie8.webp}" src="../static/image/movie8.webp" alt="">
    </div>
  </div>

</body>
</html>