<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>캅 시크릿</title>
</head>
<link rel="stylesheet" th:href="@{/css/product.css}" href="../static/css/product.css">
<script th:src="@{https://kit.fontawesome.com/4ae8b5f015.js}" src="https://kit.fontawesome.com/4ae8b5f015.js" crossorigin="anonymous"></script>
<script th:src="@{/js/product.js}" src="../static/js/product.js" defer></script>
<body>
<div class="overlap-group">
  <div class="blur-filter"></div>
  <div id="top-navi">
    <div id="top-navi-left">
      <div class="navi-btns"><img class="main-logo" th:src="@{image/tving-new-logo-mobile.svg}" src="../static/image/tving-new-logo-mobile.svg" alt=""></div>
      <div class="live-btn navi-btns"><img th:src="@{image/icon_menu_live.svg}" src="../static/image/icon_menu_live.svg" alt="">실시간</div>
      <div class="tv-program navi-btns">TV프로그램</div>
      <div class="movie navi-btns">영화</div>
      <div class="paramount navi-btns"><img src="../static/image/menu_paramount.svg" alt=""></div>
    </div>
    <div id="top-navi-right">
      <div class="serach navi-btns"><img th:src="@{image/icon_search.svg}" src="../static/image/icon_search.svg" alt=""> </div>
      <div class="user-icon navi-btns"><img th:src="@{image/F_webp.100.webp}" src="../static/image/F_webp.100.webp" alt=""></div>
    </div>
  </div>
  <div id="product-wrap">
    <div id="product-info-left">
      <div class="product-title">캅 시크릿</div>
      <div class="product-tags">
        <span>개별구매</span>
        <span>극장동시</span>
        <img th:src="@{image/tag2.svg}" src="../static/image/tag2.svg" alt="">
        <span>2022</span>
        <span>코미디</span>
        <span>99분</span>
        <span>DRM</span>
      </div>
      <div class="product-buy-btn">
        <button>구매하기</button>
        <div class="jjim-btn"><i class="fa-regular fa-heart"></i><span>찜</span></div>
        <div class="share-btn"><i class="fa-solid fa-arrow-up-from-bracket"></i><span>공유</span></div>
      </div>
      <div class="product-introduce">
        <div>크리에이터<span>한네스 소르 도르손</span></div>
        <div>출연<span>오둔 블뢴달, 에길 에이나르손</span></div><br/>
        <div>"앙숙 형사들의 짜릿한 공조!"</div><br/>
        <div>최고의 검거율을 자랑하는 터프가이 부시는...</div>
        <button id="more-btn" type="button">더보기 <img th:src="@{image/icon_arrow_down.svg}" src="../static/image/icon_arrow_down.svg" alt=""></button>
        <div class="product-introduce-more" hidden>
          불같은 성격 때문에 종종 어려움에 빠지는 반면,<br/>
          그의 새로운 파트너 회르뒤르는<br/>
          비싼 슈트만큼이나 매끄러운 솜씨를 뽐낸다.<br/><br/>
          항상 대립하고 경쟁하는 둘이지만<br/>
          미스터리한 은행 강도 사건에 같이 투입되고,<br/>
          범죄 조직과 싸우며 죽을 위기를 넘길수록<br/>
          다투던 둘의 관계도 묘한 국면을 맞이하는데...<br/>
          <button id="close-btn">닫기 <img th:src="@{image/icon_arrow_top.svg}" src="../static/image/icon_arrow_top.svg" alt=""></button>
        </div>
      </div>
    </div>
    <div id="product-info-right">
      <img th:src="@{image/F_webp.480.webp}" src="../static/image/F_webp.480.webp" alt="">
    </div>
  </div>
</div>
<div class="more-movie">
  <div>비슷한 영화</div>
  <div class="movie-list">
    <img th:src="@{image/movie1.webp}" src="../static/image/movie1.webp" alt="">
    <img th:src="@{image/movie2.webp}" src="../static/image/movie2.webp" alt="">
    <img th:src="@{image/movie3.webp}" src="../static/image/movie3.webp" alt="">
    <img th:src="@{image/movie4.webp}" src="../static/image/movie4.webp" alt="">
    <img th:src="@{image/movie5.webp}" src="../static/image/movie5.webp" alt="">
    <img th:src="@{image/movie6.webp}" src="../static/image/movie6.webp" alt="">
    <img th:src="@{image/movie7.webp}" src="../static/image/movie7.webp" alt="">
    <img th:src="@{image/movie8.webp}" src="../static/image/movie8.webp" alt="">
  </div>
</div>


</body>
</html>